@model Webtuto.Models.Cart

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idCart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

    </dl>
</div>

                <p>
                    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                    @Html.ActionLink("Back to List", "../Products/ListProducts")
                </p>

